<template name="header">
  <header class="header-background header header-2" id="header" data-stellar-background-ratio="0.5" style="background-position: 50% -312.5px;">
    <div class="fix header-overlay overlay-color" style="min-height: 613px;">

      <!-- Start: Navbar Area  -->
      <div class="header-navbar" id="header-navbar">

        <nav class="navbar navbar-fixed-top header-nav-2 navbar-home" id="myNavbar">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#finiti-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- LOGO -->
              <a class="navbar-brand" href="#"><span><img src="/images/logo.png" alt="" class="img-responsive"></span></a>
            </div>

            <div class="collapse navbar-collapse" id="finiti-navbar-collapse">
              <ul id="navbar-nav-2" class="nav navbar-nav navbar-right">
                <!--  -->
                <li class="section-selector-2 active"><a href="#header" class="btn-bottom"><span class="section-name">Home</span></a></li>
                <li class="section-selector-2"><a href="#schedule" class="btn-bottom"><span class="section-name">Schedule</span></a></li>
                <li class="section-selector-2"><a href="#two-cols-description-with-image" class="btn-bottom"><span class="section-name">About</span></a></li>
                <li class="section-selector-2"><a href="#pricing-table" class="btn-bottom"><span class="section-name">Price</span></a></li>
                <li class="section-selector-2"><a href="#map_contact" class="btn-bottom"><span class="section-name">Venue</span></a></li>
                <li class="section-selector-2"><a class="new-page blog btn-bottom" href="blog.html"><span class="section-name">Blog</span></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
      <!-- End: Navbar Area  -->

      <div class="container" id="header-body" style="padding-top: 0px; padding-bottom: 0px; position: relative;">
        <div class="row header-body section-separator">

          <!-- Headline Goes HEre -->
          <div class="cd-intro no-csstransitionswow fadeInDown" data-wow-delay="0.3s">
            <h1 class="cd-headline rotate-1">Our Team is

              <!--Word Slider start-->
              <span class="cd-words-wrapper" style="width: 275px;">
                <b class="is-hidden">reliable</b>
                <b class="is-hidden">friendly</b>
                <b class="is-hidden">creative</b>
                <b class="is-visible">charming</b>
                <b class="is-hidden">fearless</b>
              </span>
              <!--Word Slider end-->

            </h1>
          </div>

          <!-- Detail -->
          <p class="wow fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

          <!-- Start: Button area -->
          <div class="buy-tricket btn-scroll wow fadeInDown animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInDown;">
            <a href="#pricing-table" class="btn btn-1 btn-top">{{dict 'home.bookingBtnLabel' }}</a>
            <!--<button class="btn btn-1 btn-1c">Button</button>-->
          </div>
          <!-- End: Button area" -->

          <!-- button -->
          <div class="btn-scroll-2 wow fadeInDown animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInDown;">
            <a class="btn-down-chack btn btn-1" href="#partner"><img src="/images/down.png" alt=""></a>
          </div>

        </div>
        <!-- End: header-body  -->
      </div>
      <!-- End: container  -->

    </div>
    <!-- End: .fix .header-overlay .overlay-color  -->
  </header>
</template>
